html {
    margin: 0;
    padding: 0;
}
html body {
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0 40px;
}
.nav li {
    padding: 20px 30px 20px 0;
}
.nav li a {
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(147, 149, 151);
    /*color: rgb(147, 149, 151);*/
}
.main-nav {
    background-color: #FFF60A;
    /*background-color: rgb(245, 223, 77);*/
    position: relative;
    /*background-color: #989265;*/
    /*background-color: #FCF9EE;*/
    /*background-color: #1E1C0C;*/
}

.sub-nav {
    /*background-color: #d6d6d6;*/
    background-color: rgb(147, 149, 151);
    position: absolute;
    width: calc(100vw - 80px);
}

.sub-nav li a {
    color: white;
}

.view {
    padding: 60px 40px;
}

h1 {
    text-transform: capitalize;
}




